.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/* 
Styles for the Gallery
*/
.user-container{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.user-card{
  width: 30%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.user-head{
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.user-avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.user-img img{
  width: 100%;
  border-radius: 10px;
}